.hero-section {
    background-color: var(--primary-brand-white);
}

.hero-div-banner {
    height: 60vh;
    padding: 0.8rem 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-banner-one {
    width: 100%;
    background-image: url(https://about.att.com/ecms/dam/snr/2022/september2022/storylevelbanner/iconic_STORY_LEVEL_BANNER_1600x483.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

.hero-banner-two {
    width: 20%;
    background-image: url(../HeroSection/hero-banner-two.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 884px) {
    .hero-div-banner {
        height: 24vh;
    }

    .hero-banner-one {
        width: 100%;
        background-size: contain;
        height: 100%;
        border-radius: 20px;
    }

    .hero-banner-two {
        display: none;
    }
}
