.hero-section {
    background-color: var(--primary-brand-white);
}

.hero-div-banner {
    height: 60vh;
    padding: 0.8rem 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.hero-banner-one {
    width: 100%;
    height: 100%;
    transform: scale(2.2) translateY(15px);
    filter: blur(2px);
    transition: 0.8s;
}

.hero-banner-one:hover {
    width: 100%;
    height: 100%;
    filter: blur(0);
}

.banner-overlay-text {
    position: absolute;
    line-height: 60px;
    left: 50px;
    top: 200px;
    z-index: 4;
    color: var(--primary-brand-white);
}

.banner-overlay-text h2 {
    font-size: 3rem;
    font-family: "SFPro";
}

.banner-overlay-text h1 {
    font-family: "SFPro";
    font-size: 4rem;
}

.banner-overlay-btn {
    font-family: "SFPro";
    border-radius: 5px;
    margin-top: 10px;
    color: var(--primary-brand-white);
    padding: 10px 25px;
    background-color: #0071e3;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 1;
}

/* @keyframes bannerChange {
    0% {
        background-image: url(../HeroSection/images/bannerOne.jpg);
    }
    25% {
        background-image: url(../HeroSection/images/bannerTwo.jpeg);
    }
    50% {
        background-image: url(../HeroSection/images/bannerFour.jpg);
    }
    75% {
        background-image: url(../HeroSection/images/bannerFive.webp);
    }
    100% {
        background-image: url(../HeroSection/images/bannerOne.jpg);
    }
} */

.hero-banner-two {
    width: 20%;
    background-image: url(../HeroSection/images/hero-banner-two.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 20px;
}

@media only screen and (max-width: 884px) {
    .hero-div-banner {
        height: 90vh;
    }

    .hero-banner-one {
        width: 100%;
        padding: 0;
        background-size: cover;
        height: 100%;
        border-radius: 20px;
        filter: none;
        transform: scale(8) translateY(15px);
    }

    .hero-banner-two {
        display: none;
    }

    .banner-overlay-text {
        position: absolute;
        line-height: 40px;
        left: 25px;
        top: 350px;
        z-index: 5;
        color: var(--primary-brand-white);
    }

    .banner-overlay-text h2 {
        font-size: 2rem;
    }

    .banner-overlay-text h1 {
        font-size: 3rem;
    }
}
