@font-face {
    font-family: "Coolvetica";
    src: url(../src/media/fonts/coolvetica\ rg.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Coolvetica";
    font-weight: 100;
    user-select: none;
}

:root {
    --primary-brand-color: #faa62c;
    --primary-brand-white: #f4f7ff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-brand-white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-brand-color);
}
